<!doctype html>
<html class="no-js" lang="en-gb">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>New Project</title>

    <meta name="author" content="Adam Brewer">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="stylesheet" href="assets/css/styles.min.css?v=@@version">

    <script src="assets/js/modernizr.min.js"></script>

</head>
<body>

    <section class="wrapper">

        <div class="logo">
            <a href="/"><img src="assets/img/logo.svg" alt="Logo"></a>
        </div>

    </section>

    <div id="scripts">
        <script src="assets/js/scripts.min.js?v=@@version"></script>
    </div>

</body>
</html>
